trunk/EZ-Travel/Service References/PushService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://46.4.195.237/EZTravelPushWCF/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://46.4.195.237/EZTravelPushWCF/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SubscribeMyPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeMyPhone" />
  </wsdl:message>
  <wsdl:message name="IService1_SubscribeMyPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeMyPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PushRawData_InputMessage">
    <wsdl:part name="parameters" element="tns:PushRawData" />
  </wsdl:message>
  <wsdl:message name="IService1_PushRawData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushRawDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PushToast_InputMessage">
    <wsdl:part name="parameters" element="tns:PushToast" />
  </wsdl:message>
  <wsdl:message name="IService1_PushToast_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushToastResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PushTileUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:PushTileUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_PushTileUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushTileUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SubscribeMyPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubscribeMyPhone" message="tns:IService1_SubscribeMyPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubscribeMyPhoneResponse" message="tns:IService1_SubscribeMyPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushRawData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PushRawData" message="tns:IService1_PushRawData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PushRawDataResponse" message="tns:IService1_PushRawData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushToast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PushToast" message="tns:IService1_PushToast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PushToastResponse" message="tns:IService1_PushToast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushTileUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PushTileUpdate" message="tns:IService1_PushTileUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PushTileUpdateResponse" message="tns:IService1_PushTileUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribeMyPhone">
      <soap:operation soapAction="http://tempuri.org/IService1/SubscribeMyPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushRawData">
      <soap:operation soapAction="http://tempuri.org/IService1/PushRawData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushToast">
      <soap:operation soapAction="http://tempuri.org/IService1/PushToast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushTileUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/PushTileUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://46.4.195.237/EZTravelPushWCF/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>